body {
    text-align: center;
    background-color: #C7D6DB;
}

header {
    background-color: #EBEBE3;
    margin: auto;
    height: 100px;
}

nav {
    background-color: #83B1C9;
    margin: auto;
}

aside {
    background-color: #83B1C9;
    margin: auto;
    float: right;
    position: relative;
    height: 400px;
    width: 200px;
    margin: 10px 10px;
}

.sidebar-list {
    list-style: none;
    margin: 10px;
    padding-right: 45px;
    background-color: #EBEBE3;
    display: block;
}

.sidebar-list-item {
    padding: 10px;
}

.sidebar-list-item:hover {
    background-color: #C6D2BE;
}

section {
    background-color: #C6D2BE;
    margin: auto;
    height: 500px;
    width: auto;
}

article {
    background-color: #EBEBE3;
    margin: auto;
    height: 400px;
    width: auto;
    margin: 10px 10px;
}

footer {
    background-color: #83B1C9;
    margin: auto;
    height: auto;
    width: auto;
    position: relative;
    clear: both;
}

@media screen and (max-width: 600px) {
    #wave-one {
        position: absolute;
        background: #0af;
        bottom: 10%;
        left: -3%;
        width: 1000px;
        height: 1000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7000ms infinite linear, fadeOut 50s;
    }
    #wave-two {
        opacity: .1;
        position: absolute;
        background: whitesmoke;
        bottom: 10%;
        left: -7%;
        width: 1000px;
        height: 1000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 6000ms infinite linear, fadeOut 50s;
    }
    #wave-three {
        position: absolute;
        background: skyblue;
        bottom: 20%;
        left: -9%;
        width: 1000px;
        height: 1000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 5000ms infinite linear, fadeOut 50s;
    }
    #wave-four {
        position: absolute;
        bottom: 12%;
        left: -9%;
        background: rgb(67, 101, 203);
        width: 1000px;
        height: 1000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 4000ms infinite linear, fadeOut 50s;
    }
}

#box {
    width: 100%;
    height: 90%;
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background: lighten(#f0f4c3, 10%);
    z-index: 11;
}

@media screen and (min-width: 768px) {
    #wave-one {
        position: absolute;
        background: #0af;
        bottom: 10%;
        left: -3%;
        width: 2000px;
        height: 2000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7000ms infinite linear, fadeOut 50s;
    }
    #wave-two {
        opacity: .1;
        position: absolute;
        background: whitesmoke;
        bottom: 10%;
        left: -7%;
        width: 2000px;
        height: 2000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 6000ms infinite linear, fadeOut 50s;
    }
    #wave-three {
        position: absolute;
        background: skyblue;
        bottom: 20%;
        left: -9%;
        width: 2000px;
        height: 2000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 5000ms infinite linear, fadeOut 50s;
    }
    #wave-four {
        position: absolute;
        bottom: 12%;
        left: -9%;
        background: rgb(67, 101, 203);
        width: 2000px;
        height: 2000px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 4000ms infinite linear, fadeOut 50s;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}